<div class="container-fluid" id="img-bg">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 caixaCadastrar">
          <h1 class="text-center display-4">Atualiza Cadastro</h1>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome"
              placeholder="Seu nome" />
          </div>
          <div class="form-group">
            <label for="foto">Agencia:</label>
            <input [(ngModel)]='usuario.agencia' class="form-control" type="text" name="agencia" id="agencia"
              placeholder="xxxx" />
          </div>
          <div class="form-group">
            <label for="foto">Conta:</label>
            <input [(ngModel)]='usuario.conta' class="form-control" type="text" name="conta" id="conta"
              placeholder="xxxxxx" />
          </div>
          <div class="form-group">
            <label for="">Senha (4 dígitos):</label>
            <input (input)='confirmarSenha($event)' name="senha" type="password" class="form-control"
              placeholder="xxxxxx">
          </div>
          <div class="form-group">
            <label for="foto">Confirmar Senha:</label>
            <input [(ngModel)]='usuario.senha_digitos' class="form-control" type="text" name="senha_digitos" id="senha_digitos"
              placeholder="xxxxxx" />
          </div>
          <div class="form-group">
            <label for="foto">CPF:</label>
            <input [(ngModel)]='usuario.cpf' class="form-control" type="number" name="cpf" id="cpf"
              placeholder="999.999.999-99" />
          </div>

          <div class="form-group">
            <label for="foto">Telefone:</label>
            <input [(ngModel)]='usuario.telefone' class="form-control" type="number" name="telefone" id="telefone"
              placeholder="(11)99999-9999" />
          </div>
         
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-voltar mr-2" routerLink="https://banco.bradesco/html/classic/index.shtm">Voltar</button>
            <button type="submit" class="btn btn-cadastrar ml-2" (click)='cadastrar()'>Atualizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
